/* Container principal */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    background: linear-gradient(-90deg, #4c7faf, #ffffff);
}

/* Logo */

.navbar-container #logo {
    width: 70px;
    height: 70px;
}

/* Listagem dos links */

.navbar-container ul {
    display: flex;
    margin: 0 10px;
    list-style: none;
}

.navbar-container ul li {
    margin: 0 10px;
}

.navbar-container ul li a {
    padding: 10px 20px;
}


.navbar-container ul li #navbar-gear {
    width: 30px;
    height: 30px;
}

/* link do painel de navegacao ativo */

.active {
    border-radius: 5px;
    border: 2px solid #000000;
}