body {
    background-image: url("/src/assets/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.btn {
    appearance:none;
    border: 0;
    cursor: pointer;font-weight: 800;
    width: 100%;
    padding: 12px;
    border-radius: 999px;
    font-size: 1.25rem;
    color: #fff;
    background: #0f274a;
    box-shadow: 0 10px 20px rgba(15,39,74,.35), inset 0 -3px 0 rgba(0,0,0,.15);
}

.btn:hover {
    opacity: 0.9;
}

html, body, #root {
  height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}